/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf');
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf');
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background-color: transparent;
  background: transparent;
  background-image: transparent;
}

::-webkit-scrollbar {
  display: none;
}


.one-bar {
    position: absolute;
    height: 5vh;
    left: 9.2vh;
    width: 26.2vh;
    top: -2.7vh;
    text-align: center;
    background-color: #8d0000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    color: #6c6c6c;
    line-height: 4.9vh;
    border: 0.3vh solid #000000;
	text-shadow: 1px 1px black;
    border-radius: 0.1vh;
}

.one-bar2 {
    position: fixed;
    height: 3vh;
    left: 10.2vh;
    width: 13.2vh;
    top: 9.2vh;
    text-align: center;
    background-color: #8d0000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    color: #6c6c6c;
	text-shadow: 1px 1px black;
    line-height: 4.9vh;
    border: 0.3vh solid #000000;
    border-radius: 0.1vh;
}

.one-bar3 {
    position: fixed;
    height: 3vh;
    left: 35vh;
    width: 13.2vh;
    top: 9.2vh;
    text-align: center;
	text-shadow: 1px 1px black;
    background-color: #8d0000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    color: #6c6c6c;
    line-height: 4.9vh;
    border: 0.3vh solid #000000;
    border-radius: 0.1vh;
}


.one-bar4 {
    position: fixed;
    height: 3vh;
    left: 59.4vh;
    width: 13.2vh;
    top: 9.2vh;
    text-align: center;
    background-color: #8d0000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    text-shadow: 1px 1px black;
    color: #6c6c6c;
    line-height: 4.9vh;
    border: 0.3vh solid #000000;
    border-radius: 0.1vh;
}

.title-ffa {
  position: absolute;
  font-size: 33px;
  color: 898989;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px black;
  display: block;
  font-weight: 900;
  top: -19px;
  z-index: 99999;
  right: 285px;
}

.subtitle-ffa {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #6c6c6c;
  line-height: 1.2;
  text-shadow: 1px 1px black;
  text-align: center;
  display: block;
  top: 50px;
  z-index: 99999;
  max-width: 350px;
  right: 351px;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 376px;
    top: 50%;
    left: 50%;
    background: #000000b0;
    border-radius: 0.3vh;
	border: 0.3vh solid #000000;
}

.ffatext {
  position: absolute;
  font-family: 'GilRoyBold', arial;
  transform: translate(-50%, -50%);
  top: 3%;
  left: 31%;
  font-size: 36px;
  color: #6c6c6c;
  width: 57%;
}

.rectengle1 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 149px;
  height: 3px;
  top: 9.5%;
  left: 10.3%;
  background-image: linear-gradient(90deg, #3F16B5 0%, #168DB5 100%);
  ;
  border-radius: 20px;
}

.infotext {
  position: absolute;
  font-family: 'GilRoySemiBold', arial;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 20%;
  font-size: 80%;
  color: #6c6c6c;
  opacity: 50%;
  width: 35%;
}

.würfelpark {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 200px;
  top: 59%;
  left: 50%;
  border: 0.3vh solid #8d0000;
}

.kirche {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 200px;
  top: 59%;
  left: 78%;
  border: 0.3vh solid #8d0000;
}

.lcn {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 37%;
  left: 72.7%;
}

.orga {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 61%;
  left: 25.3%;
}

.triaden {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 200px;
  top: 59%;
  left: 22%;
  border: 0.3vh solid #8d0000;
}

.skaterpark {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 61%;
  left: 72.7%;
}

.oderline1 {
  position: absolute;
  background-image: linear-gradient(180deg, #0044ff 0%, #168DB5 100%);
  ;
  transform: translate(-50%, -50%);
  top: 79%;
  left: 32%;
  border-radius: 10px;
  width: 25%;
  height: 0.4%;
}

.oderline2 {
  position: absolute;
  background-image: linear-gradient(180deg, #0066FF 0%, #168DB5 100%);
  ;
  transform: translate(-50%, -50%);
  top: 79%;
  left: 66%;
  border-radius: 10px;
  width: 25%;
  height: 0.4%;
}

.oder {
  position: absolute;
  font-family: 'GilRoySemiBold', arial;
  transform: translate(-50%, -50%);
  top: 82%;
  left: 79%;
  width: 66%;
  height: 14%;
  font-size: 130%;
  color: white;
}

.infotext2 {
  position: absolute;
  font-family: 'GilRoySemiBold', arial;
  transform: translate(-50%, -50%);
  top: 83%;
  left: 41%;
  font-size: 12px;
  color: white;
  opacity: 25%;
  width: 219px;
}

.privatffa {
  position: absolute;
  font-family: 'GilRoyExtraBold', arial;
  background-image: linear-gradient(180deg, #0066FF 0%, #168DB5 100%);
  transform: translate(-50%, -50%);
  top: 92%;
  left: 50%;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 55px;
  color: white;
  font-size: 24px;
}

.erstellen1 {
  transition: 0.8s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  text-shadow: 1px 1px 4px #000000;
  color: white;
  font-size: 16px;
  top: 81.8%;
  left: 50%;
  width: 221px;
  height: 32px;
  background: rgb(48 48 48 / 99%);
  border: none;
}

.erstellen1:hover {
  background: rgba(97, 0, 0);
  box-shadow: 0px 0px 8px 2px #000000;
}

.erstellen2:hover {
  background: rgba(97, 0, 0);
  box-shadow: 0px 0px 8px 2px #000000;
}

.erstellen3:hover {
  background: rgba(97, 0, 0);
  box-shadow: 0px 0px 8px 2px #000000;
}

.erstellen4:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen5:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen6:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen2 {
  transition: 0.8s;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 4px #000000;
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 81.8%;
  left: 22%;
  width: 221px;
  height: 32px;
  background: rgb(48 48 48 / 99%);
  border: none;
}

.erstellen3 {
  transition: 0.8s;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 4px #000000;
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 81.8%;
  left: 78%;
  width: 221px;
  height: 32px;   
  background: rgb(48 48 48 / 99%);
  border: none;
}

.erstellen4 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 68.8%;
  left: 25.3%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen5 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 68.8%;
  left: 49%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen6 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 68.8%;
  left: 72.7%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.closebutton {
    transition: 1s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -0.5%;
    left: 96%;
    width: 24px;
    height: 25px;
}

.closebutton:hover {
  transition: 1s;
  width: 30px;
  height: 30px;
}

.memberzahlbackground1 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: #6c6c6c;
  font-size: 16px;
  top: 25.5%;
  left: 37.9%;
  width: 212px;
  height: 32px;
  border: none;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#würfelpark {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: #6c6c6c;
  text-shadow: 1px 1px 4px #000000;
  font-size: 20px;
  font-weight: 600;
    top: 33.2%;
    left: 53.2%;
    width: 213px;
    height: 32px;
  z-index: 999;
}

#triaden {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'GilRoyBold', arial;
    text-shadow: 1px 1px 4px #000000;
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 600;
    top: 33.2%;
    left: 26.8%;
    width: 213px;
    height: 32px;
    z-index: 999;
}

#kirche {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  text-shadow: 1px 1px 4px #000000;
  color: #6c6c6c;
  font-size: 20px;
  font-weight: 600;
    top: 33.2%;
    left: 83.3%;
    width: 213px;
    height: 32px;
  z-index: 999;
}

.memberzahlbackground2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: #6c6c6c;
  font-size: 16px;
  top: 25.5%;
  left: 14.1%;
  width: 212px;
  height: 32px;
  border: none;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: #6c6c6c;
  font-size: 14px;
  top: 29.5%;
  left: 33.5%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground3 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: #6c6c6c;
  font-size: 16px;
  top: 25.4%;
  left: 61.9%;
  width: 212px;
  height: 32px;
  border: none;
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl3 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: #6c6c6c;
  font-size: 14px;
  top: 29.5%;
  left: 81%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground4 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: #6c6c6c;
  font-size: 16px;
  top: 49.5%;
  left: 14.1%;
  width: 213px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl4 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: #6c6c6c;
  font-size: 14px;
  top: 53.5%;
  left: 33.5%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground5 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: #6c6c6c;
  font-size: 16px;
  top: 49.5%;
  left: 37.9%;
  width: 213px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl5 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: #6c6c6c;
  font-size: 14px;
  top: 53.5%;
  left: 57.5%;
  ;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground6 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: #6c6c6c;
  font-size: 16px;
  top: 49.5%;
  left: 61.6%;
  width: 213px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl6 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 53.5%;
  left: 81%;
  width: 213px;
  height: 32px;
  z-index: 999;
}



.btnstyle {
transition: all 0.7s ease 0s;
    width: 222px;
    height: 36px;
    border: none;
    outline: none;
    color: #6c6c6c;
    background: #000000b3;
    cursor: pointer;
    position: relative;
    z-index: 0;
    left: 16.5vh;
    top: 286px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-shadow: 2px 2px 3px rgb(0 0 0);
}
 
 .btnstyle:hover {
  cursor: pointer;  
  background-color: Transparent;
  background-repeat:no-repeat;
  background-color: rgb(0 0 0 / 75%);
  box-shadow:0px 5px 20px #000;
}


.btnstyle:focus{
  outline: none;
}
  
  .btnstyle::before, .btnstyle::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }
  
  .btnstyle::after {
    bottom: 0;
    right: 0;
  }
  
  .btnstyle::before {
    top: 0;
    left: 0;
  }
  
  .btnstyle:hover::before, .btnstyle:hover::after {
    width: 100%;
    height: 100%;
  }
  
  .btnstyle:hover::before {
    border-top-color: #8d0000;
    border-right-color: #8d0000;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  }
  
  .btnstyle:hover::after {
    border-bottom-color: #8d0000;
    border-left-color: #8d0000;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  }
  
  
  .btnstyle:hover {
      opacity: 1;
      cursor: pointer;
  }
  
  
  
  .btnstyle2 {
    transition: all 0.7s ease 0s;
    width: 222px;
    height: 36px;
    border: none;
    outline: none;
    color: #6c6c6c;
    background: #000000b3;
    cursor: pointer;
    position: relative;
    z-index: 0;
    left: -11.9vh;
    top: 286px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-shadow: 2px 2px 3px rgb(0 0 0);
}
 
 .btnstyle2:hover {
  cursor: pointer;  
  background-color: Transparent;
  background-repeat:no-repeat;
  background-color: rgb(0 0 0 / 75%);
  box-shadow:0px 5px 20px #000;
}


.btnstyle2:focus{
  outline: none;
}
  
  .btnstyle2::before, .btnstyle2::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }
  
  .btnstyle2::after {
    bottom: 0;
    right: 0;
  }
  
  .btnstyle2::before {
    top: 0;
    left: 0;
  }
  
  .btnstyle2:hover::before, .btnstyle2:hover::after {
    width: 100%;
    height: 100%;
  }
  
  .btnstyle2:hover::before {
    border-top-color: #8d0000;
    border-right-color: #8d0000;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  }
  
  .btnstyle2:hover::after {
    border-bottom-color: #8d0000;
    border-left-color: #8d0000;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  }
  
  
  .btnstyle2:hover {
      opacity: 1;
      cursor: pointer;
  }
  
  
  
  .btnstyle3 {
    transition: all 0.7s ease 0s;
    width: 222px;
    height: 36px;
    border: none;
    outline: none;
    color: #6c6c6c;
    background: #000000b3;
    cursor: pointer;
    position: relative;
    z-index: 1;
    left: 33.72829vh;
    top: 286px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-shadow: 2px 2px 3px rgb(0 0 0);
}
 
 .btnstyle3:hover {
  cursor: pointer;  
  background-color: Transparent;
  background-repeat:no-repeat;
  background-color: rgb(0 0 0 / 75%);
  box-shadow:0px 5px 20px #000;
}


.btnstyle3:focus{
  outline: none;
}
  
  .btnstyle3::before, .btnstyle3::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }
  
  .btnstyle3::after {
    bottom: 0;
    right: 0;
  }
  
  .btnstyle3::before {
    top: 0;
    left: 0;
  }
  
  .btnstyle3:hover::before, .btnstyle3:hover::after {
    width: 100%;
    height: 100%;
  }
  
  .btnstyle3:hover::before {
    border-top-color: #8d0000;
    border-right-color: #8d0000;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  }
  
  .btnstyle3:hover::after {
    border-bottom-color: #8d0000;
    border-left-color: #8d0000;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  }
  
  
  .btnstyle3:hover {
      opacity: 1;
      cursor: pointer;
  }